In [14]:
import tweepy as tweepy
import pandas as pd

consumerKey = "nFZbmjcFYcv7teBKNEYHgGTXX"
consumerSecret = "q34ezhImVVCmzkY64X41S3pHEDe50TjSagHS6MVW2ygQckPuE0"
accessToken = "64705435-CExyanvuO3DIkcvekmewQNJdoYiiHTlXSxzaxaJoW"
accessTokenSecret = "zpDGv7xPYlHyTeU3QP9DIevvL0BFsmBZiXaORt5oEXKsg"



auth = tweepy.OAuthHandler(consumerKey, consumerSecret)
auth.set_access_token(accessToken, accessTokenSecret)

api = tweepy.API(auth, wait_on_rate_limit=True)
alltweets = []

screen_name="@elonmusk"

new_tweets = api.user_timeline(screen_name=screen_name, tweet_mode = 'extended', count=200)
alltweets.extend(new_tweets)
oldest = alltweets[-1].id - 1

while len(new_tweets) > 0:
    print(f"getting tweets before {oldest}")

    new_tweets = api.user_timeline(screen_name=screen_name, max_id=oldest,tweet_mode = 'extended', count=200)
    alltweets.extend(new_tweets)
    oldest = alltweets[-1].id - 1

    print(f"...{len(alltweets)} tweets downloaded so far")

outtweets = [[tweet.id_str, tweet.created_at, tweet.full_text] for tweet in alltweets]

getting tweets before 1461884161233494018
...400 tweets downloaded so far
getting tweets before 1454920409212669953
...600 tweets downloaded so far
getting tweets before 1448021992251301887
...800 tweets downloaded so far
getting tweets before 1438919113859010561
...1000 tweets downloaded so far
getting tweets before 1430741847861829633
...1200 tweets downloaded so far
getting tweets before 1421622513918955523
...1400 tweets downloaded so far
getting tweets before 1416168229924397055
...1600 tweets downloaded so far
getting tweets before 1410523442500284417
...1800 tweets downloaded so far
getting tweets before 1401490554396024833
...1800 tweets downloaded so far

In [4]:
outtweets2=pd.DataFrame(outtweets)
outtweets2

,0,1,2
0,1468445663704793090,2021-12-08 05:01:43+00:00,@jessica_kirsh @SpaceX Booster production is c...
1,1468445256576290818,2021-12-08 05:00:06+00:00,@tesla_raj Lot of people don’t realize that yo...
2,1468337774407340043,2021-12-07 21:53:00+00:00,@WorldAndScience If you leave hydrogen out in ...
3,1468336225689948164,2021-12-07 21:46:51+00:00,@Rainmaker1973 Wow
4,1468334797508521984,2021-12-07 21:41:10+00:00,@tobyliiiiiiiiii @RGVaerialphotos @SpaceX Hope...
...,...,...,...
2995,1347163389521350658,2021-01-07 12:49:15+00:00,@TheHackersNews Ya don’t say. Reminds me of th...
2996,1347147999160397825,2021-01-07 11:48:06+00:00,@UniverCurious Fast water with tiny rocks
2997,1347128458325979136,2021-01-07 10:30:27+00:00,"@flcnhvy Yes, and then Occam’s razor is actual..."
2998,1347126957331386368,2021-01-07 10:24:29+00:00,"As seen from an external observer, not the par..."
2999,1347126794172948483,2021-01-07 10:23:50+00:00,The most entertaining outcome is the most likely

In [5]:
outtweets2.to_csv('elontwt.csv', index=False)

In [58]:
elontweet=pd.read_csv("elontwt.csv")
print(elontweet)

                        0                          1  \
0     1468445663704793090  2021-12-08 05:01:43+00:00
1     1468445256576290818  2021-12-08 05:00:06+00:00
2     1468337774407340043  2021-12-07 21:53:00+00:00
3     1468336225689948164  2021-12-07 21:46:51+00:00
4     1468334797508521984  2021-12-07 21:41:10+00:00
...                   ...                        ...
2995  1347163389521350658  2021-01-07 12:49:15+00:00
2996  1347147999160397825  2021-01-07 11:48:06+00:00
2997  1347128458325979136  2021-01-07 10:30:27+00:00
2998  1347126957331386368  2021-01-07 10:24:29+00:00
2999  1347126794172948483  2021-01-07 10:23:50+00:00

                                                      2
0     @jessica_kirsh @SpaceX Booster production is c...
1     @tesla_raj Lot of people don’t realize that yo...
2     @WorldAndScience If you leave hydrogen out in ...
3                                    @Rainmaker1973 Wow
4     @tobyliiiiiiiiii @RGVaerialphotos @SpaceX Hope...
...                                                 ...
2995  @TheHackersNews Ya don’t say. Reminds me of th...
2996          @UniverCurious Fast water with tiny rocks
2997  @flcnhvy Yes, and then Occam’s razor is actual...
2998  As seen from an external observer, not the par...
2999   The most entertaining outcome is the most likely

[3000 rows x 3 columns]

In [59]:
elontweet=pd.DataFrame(elontweet)
elontweet

,0,1,2
0,1468445663704793090,2021-12-08 05:01:43+00:00,@jessica_kirsh @SpaceX Booster production is c...
1,1468445256576290818,2021-12-08 05:00:06+00:00,@tesla_raj Lot of people don’t realize that yo...
2,1468337774407340043,2021-12-07 21:53:00+00:00,@WorldAndScience If you leave hydrogen out in ...
3,1468336225689948164,2021-12-07 21:46:51+00:00,@Rainmaker1973 Wow
4,1468334797508521984,2021-12-07 21:41:10+00:00,@tobyliiiiiiiiii @RGVaerialphotos @SpaceX Hope...
...,...,...,...
2995,1347163389521350658,2021-01-07 12:49:15+00:00,@TheHackersNews Ya don’t say. Reminds me of th...
2996,1347147999160397825,2021-01-07 11:48:06+00:00,@UniverCurious Fast water with tiny rocks
2997,1347128458325979136,2021-01-07 10:30:27+00:00,"@flcnhvy Yes, and then Occam’s razor is actual..."
2998,1347126957331386368,2021-01-07 10:24:29+00:00,"As seen from an external observer, not the par..."
2999,1347126794172948483,2021-01-07 10:23:50+00:00,The most entertaining outcome is the most likely

In [60]:
elontweet.rename(columns = {"0":'ID', "1":'datetime',
                              "2":'tweets'}, inplace = True)

In [61]:
elontweet

,ID,datetime,tweets
0,1468445663704793090,2021-12-08 05:01:43+00:00,@jessica_kirsh @SpaceX Booster production is c...
1,1468445256576290818,2021-12-08 05:00:06+00:00,@tesla_raj Lot of people don’t realize that yo...
2,1468337774407340043,2021-12-07 21:53:00+00:00,@WorldAndScience If you leave hydrogen out in ...
3,1468336225689948164,2021-12-07 21:46:51+00:00,@Rainmaker1973 Wow
4,1468334797508521984,2021-12-07 21:41:10+00:00,@tobyliiiiiiiiii @RGVaerialphotos @SpaceX Hope...
...,...,...,...
2995,1347163389521350658,2021-01-07 12:49:15+00:00,@TheHackersNews Ya don’t say. Reminds me of th...
2996,1347147999160397825,2021-01-07 11:48:06+00:00,@UniverCurious Fast water with tiny rocks
2997,1347128458325979136,2021-01-07 10:30:27+00:00,"@flcnhvy Yes, and then Occam’s razor is actual..."
2998,1347126957331386368,2021-01-07 10:24:29+00:00,"As seen from an external observer, not the par..."
2999,1347126794172948483,2021-01-07 10:23:50+00:00,The most entertaining outcome is the most likely

In [63]:
elontweet['Date'] = pd.to_datetime(elontweet["datetime"]).dt.date

In [64]:
elontweet

,ID,datetime,tweets,Date
0,1468445663704793090,2021-12-08 05:01:43+00:00,@jessica_kirsh @SpaceX Booster production is c...,2021-12-08
1,1468445256576290818,2021-12-08 05:00:06+00:00,@tesla_raj Lot of people don’t realize that yo...,2021-12-08
2,1468337774407340043,2021-12-07 21:53:00+00:00,@WorldAndScience If you leave hydrogen out in ...,2021-12-07
3,1468336225689948164,2021-12-07 21:46:51+00:00,@Rainmaker1973 Wow,2021-12-07
4,1468334797508521984,2021-12-07 21:41:10+00:00,@tobyliiiiiiiiii @RGVaerialphotos @SpaceX Hope...,2021-12-07
...,...,...,...,...
2995,1347163389521350658,2021-01-07 12:49:15+00:00,@TheHackersNews Ya don’t say. Reminds me of th...,2021-01-07
2996,1347147999160397825,2021-01-07 11:48:06+00:00,@UniverCurious Fast water with tiny rocks,2021-01-07
2997,1347128458325979136,2021-01-07 10:30:27+00:00,"@flcnhvy Yes, and then Occam’s razor is actual...",2021-01-07
2998,1347126957331386368,2021-01-07 10:24:29+00:00,"As seen from an external observer, not the par...",2021-01-07
2999,1347126794172948483,2021-01-07 10:23:50+00:00,The most entertaining outcome is the most likely,2021-01-07

In [65]:
elontweet.to_csv('elontwtfinal.csv', index=False)